$bg-color: #ffffff;
//desktop varriable
$desktop-container-width: 1440px;
$desktop-content-width: 940px;
$desktop-margin-top: 90px;
$table-container-width: 768px;
$mobile-container-width: 320px;
$mobile-content-width: 300px;